// Заголовки, общие БЭМ блоки и прочее

// Accessibility for screen reader

// .visually-hidden {
// 	position: absolute;
// 	width: 1px;
// 	height: 1px;
// 	margin: -1px;
// 	padding: 0;
// 	overflow: hidden;
// 	border: 0;
// 	clip: rect(0 0 0 0);
// }
// <label for="email" class="visually-hidden">Email:</label>
// <input id="email" type="text" class="form__input" placeholder="Email address">
.title {
	position: relative;
	display: inline-block;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 7.33333px;
	text-transform: uppercase;
	opacity: 0.5;
}

.title2 {
	font-weight: 800;
	font-size: 40px;
	line-height: 36px;
	text-transform: uppercase;
}

.main-screen-name {
	font-weight: 800;
	font-size: 80px;
	line-height: 86px;
	text-transform: uppercase;
}

.name {
	font-weight: 800;
	font-size: 40px;
	line-height: 48px;
	text-transform: uppercase;
	span {
		font-weight: 250;
	}
}

.text {
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.05px;
}

.text2 {
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.4px;
}

.text3 {
	line-height: 26px;
	font-weight: 800;
	font-size: 18px;
	text-transform: uppercase;
}

.location-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.btn {
	display: inline-flex;
	align-items: center;
	font-weight: 800;
	font-size: 40px;
	line-height: 36px;
	text-transform: uppercase;
	@include anim(.6s, 0s);
	&__left {
		margin-right: 19px;
	}

	&__right {
		position: relative;
		display: flex;
		align-items: center;
		padding: 22px 17px;
		background: #4AF6CD;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: -10px;
			width: 20px;
			height: 1px;
			background-color: $color-white;
		}
	}

	&__right-text {
	}

	&__right-arrow {
		display: flex;
		align-items: center;
		margin-left: 16px;
	}
	&:hover {
		transform: translateY(-7px);
	}
}

.section-name {
	position: relative;
	display: inline-block;
	&__title {
		position: absolute;
		top: 0;
		right: 35px;
		font-weight: 800;
		font-size: 80px;
		text-transform: uppercase;
		&:after {
			content: "";
			position: absolute;
			width: 80px;
			height: 1px;
			background-color: #4AF6CD;
			top: 0;
			right: 0;
		}
	}

	&__bg-title {
		font-weight: 800;
		font-size: 200px;
		text-transform: uppercase;
		color: #1C1E1E;
		position: relative;
		top: 10px;
		// left: -50px;
		mix-blend-mode: normal;
	}
}

.btns-nav {
	display: flex;
	justify-content: space-between;
	width: 69px;
	height: 21px;
	font-size: 0;
	.swiper-button-next, .swiper-button-prev {
		position: static;
		margin-top: 0;
		height: 100%;
	}
	.swiper-button-next:after, .swiper-button-prev:after {
		display: none;
	}
	&__button-prev {
		cursor: pointer;
	}

	&__button-next {
		cursor: pointer;
	}
}

.loca {
	display: flex;
	flex-direction: column;
	gap: 8px;
	&__header {
		display: flex;
		gap: 24px;
		align-items: center;
	}

	&__line {
		height: 1px;
		width: 80px;
		background-color: $color-white;
		opacity: .5;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);
	}

	&__title {
	}

	&__footer {
		display: flex;
		align-items: center;
		gap: 25px;
	}

	&__name {
	}

	&__image-block {
	}

	&__image {
	}

	&__img {
		object-fit: contain;
		width: 52px;
		height: 46px;
	}

}

.stars {
	display: flex;
	gap: 11px;
}

.info-item {
	display: flex;
	flex: 0 1 25%;
	gap: 18px;
	&__title {
		writing-mode: tb-rl;
		transform: rotate(-180deg);
		opacity: 0.5;
		text-align: end;
		text-transform: uppercase;
		white-space: nowrap;
	}

	&__info-block {
	}

	&__subtitle {
		// display: flex;
		// align-items: center;
		letter-spacing: 6px;
	}

	&__count {
	}

	&__text {
	}

	&__subtitle-part2 {
		text-align: right;
		font-weight: 400;
		font-size: 14px;
		line-height: 36px;
		letter-spacing: 5.25px;
		text-transform: uppercase;
		opacity: 0.75;
	}

	&__switch {
		display: flex;
		justify-content: end;
		gap: 10px;
		margin-top: 11px;
	}

	&__minus {}
	&__plus {}
}

.box-size {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}