// Заголовки, общие БЭМ блоки и прочее

// Accessibility for screen reader

// .visually-hidden {
// 	position: absolute;
// 	width: 1px;
// 	height: 1px;
// 	margin: -1px;
// 	padding: 0;
// 	overflow: hidden;
// 	border: 0;
// 	clip: rect(0 0 0 0);
// }
// <label for="email" class="visually-hidden">Email:</label>
// <input id="email" type="text" class="form__input" placeholder="Email address">
.title {
	position: relative;
	display: inline-block;
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 7.33333px;
	text-transform: uppercase;
	opacity: 0.5;
}

.name {
	font-weight: 800;
	font-size: 40px;
	line-height: 48px;
	text-transform: uppercase;
	span {
		font-weight: 250;
	}
}

.title-left {
	padding-left: 104px;
	&::before {
		content: '';
		position: absolute;
		height: 1px;
		width: 80px;
		background-color: $color-white;
		opacity: .5;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);
	}
}

.title-right {
	padding-left: 104px;
	&::before {
		content: '';
		position: absolute;
		height: 1px;
		width: 80px;
		background-color: $color-white;
		opacity: .5;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);
	}
}

.text {
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.05px;
}

.text2 {
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.4px;
}

.text3 {
	line-height: 26px;
	font-weight: 800;
	font-size: 18px;
	text-transform: uppercase;
}

.btn {
	display: none;
	align-items: center;
	font-weight: 800;
	font-size: 40px;
	line-height: 36px;
	text-transform: uppercase;
	&__left {
		margin-right: 19px;
	}

	&__right {
		position: relative;
		display: flex;
		align-items: center;
		padding: 22px 17px;
		background: #4AF6CD;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: -10px;
			width: 20px;
			height: 1px;
			background-color: $color-white;
		}
	}

	&__right-text {
	}

	&__right-arrow {
		display: flex;
		align-items: center;
		margin-left: 16px;
	}
}

.swiper-card {

	&__button {
	}
}
.btn {

	&__left {
	}

	&__right {
	}

	&__right-text {
	}

	&__right-arrow {
	}
}

.section-name {
	position: relative;
	display: inline-block;
	&__title {
		position: absolute;
		top: 0;
		right: 35px;
		font-weight: 800;
		font-size: 80px;
		text-transform: uppercase;
		&:after {
			content: "";
			position: absolute;
			width: 80px;
			height: 1px;
			background-color: #4AF6CD;
			top: 0;
			right: 0;
		}
	}

	&__bg-title {
		font-weight: 800;
		font-size: 200px;
		text-transform: uppercase;
		color: rgba($color-white, .2);
		position: relative;
		top: 10px;
		left: -50px;
	}
}

.btns-nav {
	display: flex;
	justify-content: space-between;
	width: 69px;
	height: 21px;
	font-size: 0;
	.swiper-button-next, .swiper-button-prev {
		position: static;
		margin-top: 0;
		height: 100%;
	}
	.swiper-button-next:after, .swiper-button-prev:after {
		display: none;
	}
	&__button-prev {
		cursor: pointer;
	}

	&__button-next {
		cursor: pointer;
	}
}

.display-none {
	display: none;
}