.surf {
	&__section-name {
	}

	&__location-bg {
		position: relative;
		display: block;
		svg {
			position: absolute;
			right: 0px;
			top: -130px;
		}
	}

	&__content {
	}

	&__location {
		margin-top: -40px;
		text-align: right;
	}

	&__location-title {
	}

	&__location-name {
	}

	&__map {
	}

	&__swiper {
		display: flex;
	}

}



.surf-swiper {
	max-width: 1440px;
	overflow: hidden;
	width: 100%;
	&__position-btns-nav {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 33px;
	}
	&__btns-nav {
		opacity: 0.25;
	}

	&__wrapper {
		margin: 0 calc(-25% - 40px) 0 auto;
	}

	&__slide {
		max-height: 750px;
		& + & {
			margin-left: -40px;
		}
		&:nth-child(4n + 1) {
			margin-top: 32px;
		}
		&:nth-child(4n + 3) {
			margin-top: 90px;
		}
	}

	.swiper-slide {
		width: calc(25% + 40px);
	}
	.swiper-slide-active {
		.swiper-card__bg {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			opacity: 0.3;
		}
		.btn {
			display: flex;
		}
	}
}

.swiper-card {
	position: relative;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 750px;
		background: rgba(#000000, 0.85);
		opacity: 1;
	}

	&__background {
		position: relative;
		width: 100%;
		height: 750px;
		img {
		}
	}

	&__content {
		
	}

	&__title {
		position: absolute;
		font-weight: 800;
		font-size: 40px;
		line-height: 36px;
		text-transform: uppercase;
		top: 80px;
		left: 40px;
	}

	&__location {
		position: absolute;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 8px;
		text-transform: uppercase;
		left: 38px;
		bottom: 80px;
		transform: rotate(-90deg);
		width: 0;
		height: 0;
		white-space: nowrap;
	}

	&__button {
		position: absolute;
		bottom: 0;
		left: 45px;
	}
}


