.surf {
	&__section-name {
		left: -50px;
	}

	&__location-bg {
		position: relative;
		display: block;
		svg {
			position: absolute;
			top: -130px;
		}
	}

	&__content {
	}

	&__location {
		margin-top: -40px;
		align-items: end;
	}

	&__location-title {
	}

	&__location-name {
	}

	&__map {
		margin-top: -145px;
		margin-bottom: 58px;
		padding-top: 110px;
	}

	&__swiper {
	}

}

.surf-map {	
	position: relative;
	&__background {
		max-width: 1200px;
		max-height: 635px;
		margin: 0 auto;
		img {
			max-width: 1200px;
			max-height: 635px;
			width: 100%;
			height: auto;
		}
	}
	&__location-marker {
		position: absolute;
		top: 371px;
		left: 214px;
	}
	&__dots {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}

	&__wrapper {
	}

	&__slide {
		position: absolute !important;
		width: auto !important;
		height: auto !important;
	}

	.swiper-slide {
		&:nth-child(1) {
			top: 449px;
    		left: 33px;
			.dot-block__top {
    			left: 0;
			}
		}
		&:nth-child(2) {
			top: 385px;
    		left: 159px;
		}
		&:nth-child(3) {
			top: 417px;
			left: 369px;
			z-index: 100;
		}
		&:nth-child(4) {
			top: 585px;
    		left: 459px;
		}
		&:nth-child(5) {
			top: 316px;
    		right: 735px;
		}
		&:nth-child(6) {
			bottom: 99px;
			right: 626px;
		}
		&:nth-child(7) {
			bottom: 258px;
    		right: 458px;
		}
		&:nth-child(8) {
			bottom: 154px;
    		right: 177px;
			.dot-block__top {
				left: -229px;
			}
		}
	}
	
}

.swiper-slide-thumb-active {
	.weather-block {
		display: block;
	}
	.dot-block {
		&__circle {
			&:before {
				display: inline-block;
			}
		}
		&__location {
			display: block;
		}
		
	}
}

.dot-block {
	position: relative;
	&__top {
		display: flex;
		align-items: center;
		gap: 4px;
		position: absolute;
		top: -288px;
    	left: -107px;
	}

	&__content {
	}

	&__location {
		display: none;
		writing-mode: tb-rl;
		transform: rotate(-180deg);
		text-align: center;
		max-height: 358px;
		overflow: hidden;
		opacity: .5;
	}

	&__circle {
		position: relative;
		width: 59px;
		height: 59px;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 24px;
			height: 24px;
			background-color: #4AF6CD;
			box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
			border-radius: 100%;
		}
		&::before {
			display: none;
			content: '';
			position: absolute;
			top: -7px;
			left: 50%;
			transform: translateX(-50%);
			border: 12px solid transparent;
			border-bottom: 21px solid #4AF6CD;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}
}

.weather-block {
	display: none;
	background: #0F1010;
	opacity: 0.7;
	border-radius: 6px;
	width: 283px;
	height: 216px;
	padding: 32px;
	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__header {
		margin-bottom: 5px;
		align-items: center;
	}

	&__header-title {
	}

	&__line {
		height: 1px;
		width: 80px;
		background-color: #4AF6CD;
		margin-bottom: 8px;
	}

	&__subtitle {
		margin-bottom: 31px;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		padding: 0px;
	}

	&__footer-block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
	}

	&__footer-block-img {
		margin-bottom: 3px;
	}

	&__footer-block-title {
		font-weight: 800;
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 1px;
	}

	&__footer-block-subtitle {
		font-weight: 300;
		font-size: 10px;
		line-height: 12px;
	}
}

.surf-swiper {
	max-width: 1440px;
	overflow: hidden;
	width: 100%;
	&__position-btns-nav {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 33px;
	}
	&__btns-nav {
		opacity: 0.25;
	}

	&__wrapper {
		margin: 0 calc(-25% - 40px) 0 auto;
	}

	&__slide {
		max-height: 750px;
		& + & {
			margin-left: -40px;
		}
		&:nth-child(4n + 1) {
			margin-top: 32px;
		}
		&:nth-child(4n + 3) {
			margin-top: 90px;
		}
	}

	.swiper-slide {
		width: calc(25% + 40px);
	}
	.swiper-slide-active {
		.swiper-card__bg {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			opacity: 0.3;
		}
		.btn {
			display: flex;
		}
	}
}

.swiper-card {
	position: relative;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 750px;
		background: rgba(#000000, 0.85);
		opacity: 1;
	}

	&__background {
		position: relative;
		width: 100%;
		height: 750px;
		img {
		}
	}

	&__content {
		
	}

	&__title {
		position: absolute;
		top: 80px;
		left: 40px;
	}

	&__location {
		position: absolute;
		left: 38px;
		bottom: 80px;
		transform: rotate(-90deg);
		width: 0;
		height: 0;
	}

	&__button {
		display: none;
		position: absolute;
		bottom: 0;
		left: 45px;
	}
}

.travel {
	position: relative;
	&__section-name {
		left: -180px;
	}

	&__swiper {
	}

	&__cocktail {
		position: absolute;
		right: -186px;
	}

	&__button {
	}
}

.section-name {

	&__bg-title {
	}

	&__title {
	}
}

.travel-swiper {

	&__wrapper {
	}

	&__slide {
	}
	&__background {
		max-width: 1115px;
		max-height: 780px;
		
	}

	&__airplane {
		position: absolute;
		right: 0;
	}

	&__content {
	}

	&__location {
		align-items: end;
	}

	&__airline-block {
		margin-bottom: 80px;
	}

	&__block-info {
		display: flex;
		justify-content: space-between;
		gap: 44px;
	}

	&__item {
	}

	&__btns-nav {
	}

	&__button-prev {
	}

	&__button-next {
	}
}

.info-item {
	display: flex;
	flex: 0 1 25%;
	gap: 18px;
	&__title {
		writing-mode: tb-rl;
		transform: rotate(-180deg);
		opacity: 0.5;
		text-align: end;
		text-transform: uppercase;
	}

	&__subtitle {
	}

	&__subtitle-part2 {
		text-align: right;
		font-weight: 400;
		font-size: 14px;
		line-height: 36px;
		letter-spacing: 5.25px;
		text-transform: uppercase;
		opacity: 0.75;
	}
}

.sleep {
	&__section-name {
		left: -50px;
	}
}

.shop {

	&__section-name {
		left: -50px;
	}
}





