.surf {
	position: relative;
	&__section-name {
		left: -50px;
	}

	&__location-bg {
		position: absolute;
		top: 220px;
	}

	&__content {
	}

	&__location {
		margin-top: -40px;
		align-items: end;
	}

	&__location-title {
	}

	&__location-name {
	}

	&__map {
		margin-top: -145px;
		margin-bottom: 58px;
		padding-top: 110px;
	}

	&__swiper {
	}

}

.surf-map {	
	position: relative;
	&__background {
		max-width: 1200px;
		max-height: 635px;
		margin: 0 auto;
		img {
			max-width: 1200px;
			max-height: 635px;
			width: 100%;
			height: auto;
		}
	}
	&__location-marker {
		position: absolute;
		top: 371px;
		left: 214px;
	}
	&__dots {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}

	&__wrapper {
	}

	&__slide {
		position: absolute !important;
		width: auto !important;
		height: auto !important;
	}

	.swiper-slide {
		&:nth-child(1) {
			top: 449px;
    		left: 33px;
			.dot-block__top {
    			left: 0;
			}
		}
		&:nth-child(2) {
			top: 385px;
    		left: 159px;
		}
		&:nth-child(3) {
			top: 417px;
			left: 369px;
			z-index: 100;
		}
		&:nth-child(4) {
			top: 585px;
    		left: 459px;
		}
		&:nth-child(5) {
			top: 316px;
    		right: 735px;
		}
		&:nth-child(6) {
			bottom: 99px;
			right: 626px;
		}
		&:nth-child(7) {
			bottom: 258px;
    		right: 458px;
		}
		&:nth-child(8) {
			bottom: 154px;
    		right: 177px;
			.dot-block__top {
				left: -229px;
			}
		}
	}
	
}

.swiper-slide-thumb-active {
	.weather-block {
		display: block;
	}
	.dot-block {
		&__circle {
			&:before {
				display: inline-block;
			}
		}
		&__location {
			display: block;
		}
		
	}
}

.dot-block {
	position: relative;
	&__top {
		display: flex;
		align-items: center;
		gap: 4px;
		position: absolute;
		top: -288px;
    	left: -107px;
	}

	&__content {
	}

	&__location {
		display: none;
		writing-mode: tb-rl;
		transform: rotate(-180deg);
		text-align: center;
		max-height: 358px;
		overflow: hidden;
		opacity: .5;
		white-space: nowrap;
	}

	&__circle {
		position: relative;
		width: 59px;
		height: 59px;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 24px;
			height: 24px;
			background-color: #4AF6CD;
			box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
			border-radius: 100%;
		}
		&::before {
			display: none;
			content: '';
			position: absolute;
			top: -7px;
			left: 50%;
			transform: translateX(-50%);
			border: 12px solid transparent;
			border-bottom: 21px solid #4AF6CD;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}
}

.weather-block {
	display: none;
	background: #0F1010;
	opacity: 0.7;
	border-radius: 6px;
	width: 283px;
	height: 216px;
	padding: 32px;
	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__header {
		margin-bottom: 5px;
		align-items: center;
	}

	&__header-title {
	}

	&__line {
		height: 1px;
		width: 80px;
		background-color: #4AF6CD;
		margin-bottom: 8px;
	}

	&__subtitle {
		margin-bottom: 31px;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		padding: 0px;
	}

	&__footer-block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
	}

	&__footer-block-img {
		margin-bottom: 3px;
	}

	&__footer-block-title {
		font-weight: 800;
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 1px;
	}

	&__footer-block-subtitle {
		font-weight: 300;
		font-size: 10px;
		line-height: 12px;
	}
}

.surf-swiper {
	max-width: 1440px;
	overflow: hidden;
	width: 100%;
	&__position-btns-nav {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 33px;
	}
	&__btns-nav {
		opacity: 0.25;
	}

	&__wrapper {
		margin: 0 calc(-25% - 40px) 0 auto;
	}

	&__slide {
		max-height: 750px;
		& + & {
			margin-left: -40px;
		}
		&:nth-child(4n + 1) {
			margin-top: 32px;
		}
		&:nth-child(4n + 3) {
			margin-top: 90px;
		}
	}

	.swiper-slide {
		width: calc(25% + 40px);
	}
	.swiper-slide-active {
		.swiper-card__bg {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			opacity: 0.3;
		}
		.btn {
			display: inline-flex;
		}
	}
}

.swiper-card {
	position: relative;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 750px;
		background: rgba(#000000, 0.85);
		opacity: 1;
	}

	&__background {
		position: relative;
		width: 100%;
		height: 750px;
		img {
		}
	}

	&__content {
		
	}

	&__title {
		position: absolute;
		top: 80px;
		left: 40px;
	}

	&__location {
		position: absolute;
		left: 38px;
		bottom: 80px;
		transform: rotate(-90deg);
		width: 0;
		height: 0;
		white-space: nowrap;
	}

	&__button {
		display: none;
		position: absolute;
		bottom: 0;
		left: 45px;
	}
}

.section {

	&__swiper {
	}

	&__button {
		margin-top: 70px;
		text-align: center;
	}
}

.section-swiper {
	
	.swiper-slide {
		opacity: 0 !important;
	}
	.swiper-slide-active {
		opacity: 1 !important;
	}
	&__wrapper {
	}

	&__slide {
	}

	&__right-block {
		position: relative;
		z-index: 10;
		margin-top: 56px;
	}

	&__location {
		align-items: end;
	}

	&__btns-nav {
		margin-top: 20px;
		margin-left: auto;
		opacity: 0.25;
	}

	&__button-prev {
	}

	&__button-next {
	}

	&__background {
		max-width: 1115px;
		max-height: 780px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin-top: -224px;
	}

	&__airline-block {
		margin-top: -115px;
		margin-bottom: 100px;
	}

	&__block-info {
		display: flex;
		justify-content: space-between;
		gap: 44px;
	}

	&__item {
	}
}

.travel {
	position: relative;
	&__section-name {
		left: -180px;
	}

	&__cocktail {
		position: absolute;
		right: -222px;
		bottom: -129px;
	}
	
	&__airplane {
		position: absolute;
		right: -47px;
		bottom: 200px;
	}

	.swiper {
		overflow: visible !important;
	}
}

.sleep {
	position: relative;
	&__section-name {
		left: -50px;
	}

	&__frangipini {
		position: absolute;
		right: 159px;
    	bottom: 74px;
	}

	&__composition {
		position: absolute;
		right: -347px;
		bottom: 261px;
		img {
			position: relative;
			&:nth-child(2) {
				top: 152px;
				right: 232px;
			}
		}
	}

	.swiper {
		overflow: visible !important;
	}
}

.shop {

	&__section-name {
		left: -50px;
	}
}

.shop-swiper {
	position: relative;
	margin-top: -31px;

	.swiper-slide {
		opacity: 0 !important;
	}
	.swiper-slide-active {
		opacity: 1 !important;
	}

	&__background {
		position: absolute;
		right: 0;
		top: 52px;
	}

	&__row {
		position: relative;
		display: flex;
		justify-content: space-between;
	}

	&__info-block {
		margin: auto 0;
	}

	&__header {
		margin-bottom: 47px;
		max-width: 481px;
	}

	&__grade {
		margin-bottom: 9px;
	}

	&__price {
		margin-bottom: 67px;
		font-weight: 800;
		font-size: 32px;
		line-height: 40px;
		text-transform: uppercase;
		sup {
			font-size: 18px;
		}
	}

	&__button {
	}

	&__surfboard {
		position: relative;
		padding: 0 10px;
		margin: 0 -10px;
		.active {
			.surfboard-info-block__icon::before {
				opacity: 0;
				visibility: hidden;
				transform: rotate(-90deg);
			}
			.surfboard-info-block__line,
			.surfboard-info-block__text {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__surfboard-info {
	}

	&__extras {
		margin-top: auto;
	}

	&__btns-container {
		position: absolute;
		right: 0;
	}

	&__btns-nav {
		opacity: .25;
	}

	&__button-prev {
	}

	&__button-next {
	}
}

.surfboard-info-block {
	position: absolute;
	display: flex;
	align-items: center;
	&:nth-of-type(1) {
		top: 192px;
		right: -305px;
	}
	&:nth-of-type(2) {
		top: 287px;
    	right: -143px;
	}
	&:nth-of-type(3) {
		left: -304px;
    	bottom: 50px;
		.surfboard-info-block__text {
			margin: 0 16px 0 0;
		}
	}
	span {
		display: block;
		position: relative;
		width: 20px;
		height: 20px;
		background-color: $color-white;
		border-radius: 100%;
		&::after {
			content: '';
			position: absolute;
			width: 12px;
			height: 2.35px;
			background-color: #4AF6CD;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&::before {
			content: '';
			position: absolute;
			width: 12px;
			height: 2.35px;
			background-color: #4AF6CD;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(90deg);
			opacity: 1;
			visibility: visible;
			@include anim(.3s, 0s);
		}
		
	}

	&__line {
		opacity: 0;
		visibility: hidden;
		width: 80px;
		height: 1px;
		background: $color-white;
		opacity: 0.5;
		margin: 0 8px;
		@include anim(.3s, 0s);
	}

	&__text {
		opacity: 0;
		visibility: hidden;
		max-width: 255px;
		font-weight: 800;
		font-size: 24px;
		line-height: 24px;
		margin-left: 16px;
		text-transform: uppercase;
		@include anim(.6s, 0s);
	}

	
}

.extras {
	
	&__title {
		font-weight: 800;
		font-size: 28px;
		line-height: 40px;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	&__row {
		display: flex;
		gap: 57px;
	}

	&__column {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	&__product-img {
		flex: 1 0 auto;
		margin-bottom: 35px;
	}

	&__product-name {
		opacity: .5;
		margin-bottom: 10px;
	}

	&__product-price {
		font-weight: 800;
		font-size: 18px;
		line-height: 40px;
		text-transform: uppercase;
	}
}








